

body {
  font-family: Kanit, sans-serif;
  background-image: url('img/def1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
}

@font-face {
  font-family: 'Kanit';
  src: url('fonts/kanit/Kanit-ExtraLight.ttf') format('truetype');
}

.imgheader {
  height: 90%;
  width: 125%;
}

header {
  background-image: url("img/newbanner.png");
  margin-top: -35vh;
  height: 50vh;
  width: auto;
  position: static;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-clip: content-box; /* Añadido para ajustar la imagen de fondo a la caja de contenido */
  padding: 0; /* Asegurarse de que no haya relleno */
  border: none; /* Asegurarse de que no haya borde */
  z-index: 2;
}

@media screen and (max-width: 2425px) {
  header {
    margin-top: -32.5vh;
  }
}

@media screen and (max-width: 1800px) {
  header {
    margin-top: -31vh;
  }
}

@media screen and (max-width: 1448px) {
  header {
    margin-top: -29vh;
  }
}

@media screen and (max-width: 1024px) {
  header {
    margin-top: -28vh;
  }
}

@media screen and (max-width: 768px) {
  header {
    margin-top: -27vh;
  }
}

@media screen and (max-width: 612px) {
  header {

  }
}



nav {
  list-style-type: none;
  background-color: #040704;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%; /* Cambiado a vh */

  z-index: 2;
  overflow-x: hidden; /* Cambiado de initial a auto */
  display: inline-block;
}

nav ul {
  margin-left: 22.5% !important;
}


nav li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0.5%;
}


nav a {
  color: rgba(255, 255, 255, 0.692);

}

#connectWallet {
  font-size:12.5px;
  background-color: rgb(255, 145, 0);
  color: white;
  border: solid 1px white;
  border-radius: 10px;
  height: 5vh;
  width: 15vh;
  margin-bottom: 0.5%;
  margin-left: 7.5%;
  margin-right: 15%;
  position: static;
  font-weight: bold;
  line-height: 0.8;
  white-space: nowrap;
  

}

main {
  margin-top: -9em !important;
  margin: auto;
  max-width: 800px;
}

section h2 {
  margin-top: 0;
}

footer {
  background-color: #080c04;
  color: rgb(10, 9, 9);
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

#tipos {
  border: 1px solid white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.621);
  border-radius: 15px;
  position: fixed;
  width: 14%;
  height: auto;
  top: 58%;
  margin-left: 0.5%;
  font-size: 1.3em;
  z-index: -2;
  display: flex;
  flex-direction: column;
  align-items: center;

}

@media screen and (max-width: 1148px) {
  #tipos {
    width: auto; 
    margin-left: 0.5%; 
    font-size: 1.4em; 
  }
}

@media screen and (max-width: 1024px) {
  #tipos {
    width: auto; 
    margin-left: 0.5%; 
    font-size: 1.4em; 
  }
}

@media screen and (max-width: 768px) {
  #tipos {
    width: auto; 
    margin-left: 0.5%; 
    font-size: 1.4em;
  }
}

@media screen and (max-width: 612px) {
  #tipos {
    width: auto;
    margin-left: 1.5%;
    font-size: 1.25em; 
  }
}


.titulotipos {
  font-family: Kanit, sans-serif;
  margin-left: 75%;
  color: white;
  margin-bottom: 10px; /* Reduce este valor según tus necesidades */
}

#tipos p {
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px; /* Reduce este valor según tus necesidades */
  font-size: 15px;
}

#tipos img {
  height: 30px; /* Reduce este valor para hacer las imágenes más pequeñas */
  width: auto;
}




#leyenda {
  border: 1px solid white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.621);
  border-radius: 15px;
  position: fixed;
  width: auto;
  height: auto;
  top: 19.5%;
  margin-left: 0.5%;
  font-size: 1.3em;
  z-index: -2;
}

@media screen and (max-width: 1148px) {
  #leyenda {
    width: auto; 
    margin-left: 0.5%; 
    font-size: 1.4em; 
  }
}

@media screen and (max-width: 1024px) {
  #leyenda {
    width: auto; 
    margin-left: 0.5%; 
    font-size: 1.4em; 
  }
}

@media screen and (max-width: 768px) {
  #leyenda {
    width: auto; 
    margin-left: 0.5%; 
    font-size: 1.4em; 
  }
}

@media screen and (max-width: 612px) {
  #leyenda {
    width: auto; 
    margin-left: 1.5%; 
    font-size: 1.25em; 
  }
}



.tituloleyenda {
  font-family: Kanit, sans-serif;
  text-align: center;
  color: white;
  margin-bottom: 15px;
}

.leyendabronze {
  color: rgb(103, 74, 35);
}

.leyendasilver {
  color: rgb(177, 177, 177);
}

.leyendagold {
  color: rgb(208, 199, 18);
}

.leyendapurple {
  color: rgb(247, 0, 255);
}

.leyendablue {
  color: rgb(0, 149, 255);
}

.leyendaplatinum {
  color: rgb(174, 237, 255);
}


#filtro-modelo {
  background-color: rgba(0, 0, 0, 0.816);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.664);
  padding: 1px 20px;
  
}

.filtro-modelo {
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

#filtro-categoria {
  background-color: rgba(0, 0, 0, 0.816);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.664);
  padding: 0.7px 20px;
  margin-right: 7%;
}

#boton-trainers {
  /*margin-top: -4%;*/
  background-color: rgba(255, 0, 0, 0.816);
  border-radius: 30px;
  border: 1px solid rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.664);
  padding: 1px 20px;
  margin-right: 6%;
  cursor: pointer;
  font-weight: bold;
  position: static;
  left: 46.8%;
  top: 21.8%;
}


#bicicletas-contenedor {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 25px;
  margin-top: 70px;
  width: 110%;
  margin-left: -5%;
  margin-right: auto;
}

@media screen and (max-width: 1148px) {
  #bicicletas-contenedor {
    grid-template-columns: repeat(4, 1fr);
    margin-left: 10%;
    width: 750px;  }
}

@media screen and (max-width: 1024px) {
  #bicicletas-contenedor {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: auto;
    margin-left: 20%;
    margin-right: auto;
    width: 550px;    
  }
}

@media screen and (max-width: 812px) {
  #bicicletas-contenedor {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 32.5%;
    margin-right: auto;
    width: 350px;
  }
}

@media screen and (max-width: 612px) {
  #bicicletas-contenedor {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 45%;
    width: 110px;
  }
}

@media screen and (max-width: 426px) {
  #bicicletas-contenedor {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 45%;
    width: 150px;
  }
}



#bicicletas button {
  background-color: rgba(0, 0, 0, 0.816);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.664);
  padding: 1px 20px;
}

.search-button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
}

.search-container {
  border-radius: 10px;
  display: flex;
  padding: 10px;
}

#search-form {
  display: flex;
  align-items: center;
}

#search-input {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.664);
  

}

.search-input {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 1px;
  color: rgba(255, 255, 255, 0);
  padding: 10px 20px;
  margin-left: auto;
}

.bicicleta p,
.bicicleta h3 {
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 20px;
  line-height: 0.002;
}

.bicicleta p {
  margin-top: -15px;
}

.bicicleta h3 {
  font-size: 16px;
}

.bicicleta img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s;
}

.bicicleta {
  line-height: 1;
  border: 2px solid white;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: all 0.20s ease-in-out;
  width: 100%;
  box-sizing: border-box;
  margin-left: 30%;
  margin-right: 150%;
  position: relative;
  overflow: hidden;
}


@media screen and (max-width: 1148px) {
  .bicicleta {
    border-radius: 7px; 
    margin-left: 25%;
    margin-right: 150%;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .bicicleta {
    border-radius: 7px; 
    margin-right: auto;
    width: 100%;
    
  }
}

@media screen and (max-width: 812px) {
  .bicicleta {
    border-radius: 7px; 

    margin-right: auto;
    width: 100%;
  }
}

@media screen and (max-width: 612px) {
  .bicicleta {
    border-radius: 5px;
    margin-left: 60%;
    width: 140%;
  }
}

@media screen and (max-width: 480px) {
  .bicicleta {
    border-radius: 5px;
    margin-left: 40%;
    width: 150%;
  }
}

@media screen and (max-width: 426px) {
  .bicicleta {
    border-radius: 5px;
    margin-left: 10%;
    width: 115%;
  }
}

.bicicleta:hover {
  transform: scale(1.1);
  border-width: 2px;
}


.bicicleta::before {
  content: "";
  position: absolute;
  top: -10%;
  left: -50%;
  height: 50rem; /* disminuir el valor de la altura */
  transform: rotate(-45deg);
  box-shadow: 0 0 30px 10px #ffffff50; /* aumentar la opacidad y disminuir la propagación y el difuminado */
  transition: .7s all;
}



.bicicleta:hover::before{
  top: -50%;
  left: 150%;
}



.bicicleta::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 1.5s;
  opacity: 0;
  z-index: 1;
}

.bicicleta:hover::after {
  opacity: 1;
  background-color: #0000008c;
  z-index: -1;
  border-radius: 10px;
  border: 2.5px solid white;
  width: 102.25%;
  height: 100.9%;
  margin-left: -1.5px;
  margin-top: -1.5px;
}

.bicicleta:hover img {
  opacity: 0;
} 

.bicicleta h3, .bicicleta p {
  position: relative;
  z-index: 0;
}

.bicicleta h3, .bicicleta p, .bicicleta img {
  transition: opacity 1s;
  opacity: 1;
}

.bicicleta:hover h3, .bicicleta:hover p, .bicicleta:hover a, .bicicleta:hover img {
  opacity: 0;
}



.bicicleta h4 {
  transition: opacity 1.5s ease-in-out;
  transition-delay: 0.5s;
  opacity: 0;
  font-size: 0px;
  height: 0px;
  width: 0px;


}

.bicicleta:hover h4 {
  opacity: 1;
  color: white;
  font-size: 12px;
  position: absolute;
  margin-top: -310px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: justify;
  height: auto;
  width: auto;
}


h5-inferno, h5-celestial, h5-quantum, h5-arcane, h5-technomancer, h5-titan {
  font-size: 27px;
  visibility: hidden;
  /*font-family: 'Nebula'7*/;
  font-family: 'Exo';
  
}

.bicicleta:hover h5-inferno, h5-celestial, h5-quantum, h5-arcane, h5-technomancer, h5-titan {
  visibility:visible;
  color: rgba(0, 0, 0, 0);
}



.bicicleta:hover h5-inferno {
  color: rgb(211, 142, 100);
  text-shadow:
  0 0 5px #ff0000, /* color de las llamas o neón */
  0 0 10px #ff0000, /* color de las llamas o neón */
  0 0 15px #ff0000, /* color de las llamas o neón */
  0 0 20px #ff0000, /* color de las llamas o neón */
  0 0 30px #ff0000, /* color de las llamas o neón */
  0 0 40px #ff0000; /* color de las llamas o neón */
  opacity: 1;
}

.bicicleta:hover h5-celestial {
  color: rgb(116, 191, 206);
  text-shadow:
  0 0 5px rgba(116, 191, 206, 0.7),
  0 0 10px rgba(116, 191, 206, 0.7),
  0 0 15px rgba(116, 191, 206, 0.7),
  0 0 20px rgba(116, 191, 206, 0.7),
  0 0 30px rgba(116, 191, 206, 0.7),
  0 0 40px rgba(116, 191, 206, 0.7);
  opacity: 1;
}

.bicicleta:hover h5-quantum {
  color: rgb(113, 0, 212);
  text-shadow:
  0 0 5px rgba(113, 0, 212, 0.7),
  0 0 10px rgba(113, 0, 212, 0.7),
  0 0 15px rgba(113, 0, 212, 0.7),
  0 0 20px rgba(113, 0, 212, 0.7),
  0 0 30px rgba(113, 0, 212, 0.7),
  0 0 40px rgba(113, 0, 212, 0.7);
  opacity: 1;
}

.bicicleta:hover h5-arcane {
  color: rgb(165, 157, 0);
  text-shadow:
    0 0 5px rgba(165, 157, 0, 0.7),
    0 0 10px rgba(165, 157, 0, 0.7),
    0 0 15px rgba(165, 157, 0, 0.7),
    0 0 20px rgba(165, 157, 0, 0.7),
    0 0 30px rgba(165, 157, 0, 0.7),
    0 0 40px rgba(165, 157, 0, 0.7);
  opacity: 1;
}




.bicicleta:hover h5-technomancer {
  color: rgb(62, 238, 18);
  text-shadow:
    0 0 5px rgba(62, 238, 18, 0.7),
    0 0 10px rgba(62, 238, 18, 0.7),
    0 0 15px rgba(62, 238, 18, 0.7),
    0 0 20px rgba(62, 238, 18, 0.7),
    0 0 30px rgba(62, 238, 18, 0.7),
    0 0 40px rgba(62, 238, 18, 0.7);
  opacity: 1;
}


.bicicleta:hover h5-titan {
  color: rgb(97, 91, 82);
  text-shadow:
    0 0 5px #5f5b52,  /* color del brillo */
    0 0 10px #5f5b52, /* color del brillo */
    0 0 15px #5f5b52, /* color del brillo */
    0 0 20px #5f5b52, /* color del brillo */
    0 0 30px #5f5b52, /* color del brillo */
    0 0 40px #5f5b52; /* color del brillo */
  opacity: 1;
}


/*
  GUIA PARA RESULT CONTAINER BASADA EN DIV BICICLETA


  line-height: 1;
  border: 2px solid white;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: all 0.20s ease-in-out;
  width: 100%;
  box-sizing: border-box;
  margin-left: 30%;
  margin-right: 150%;
  position: relative;
  overflow: hidden;

*/

.result-container {
  transform: scale(0.75);
  left: 30%;
  margin-top: 5%;
  line-height: 1;
  border: 2px solid white;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  transition: all 0.20s ease-in-out;
  width: 50%;
  height: auto;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Styles for screens up to 1440px wide */
@media screen and (max-width: 1440px) {
  .result-container {
    transform: scale(1);
  }
}

/* Styles for screens up to 1024px wide */
@media screen and (max-width: 1024px) {
  .result-container {
    transform: scale(0.9);
  }
}

/* Styles for screens up to 768px wide */
@media screen and (max-width: 768px) {
  .result-container {
    transform: scale(0.8);
    margin-left: 17%;
  }
}

/* Styles for screens up to 425px wide */
@media screen and (max-width: 425px) {
  .result-container {
    transform: scale(0.9);
    margin-left: 17%;
  }
}

/* Styles for screens up to 375px wide */
@media screen and (max-width: 375px) {
  .result-container {
    transform: scale(0.9);
    margin-left: 20%;
  }
}

/* Styles for screens up to 320px wide */
@media screen and (max-width: 320px) {
  .result-container {
    transform: scale(0.9);
    margin-left: 20%;
  }
}


.result-divstats {

  height: auto;
  width: 100%;
  margin-top: 14%;
  margin-bottom: 25%;
  display: grid;
  grid-template-columns: 1fr 1fr; /* crea dos columnas de igual tamaño */
  grid-template-rows: 1fr 1fr; /* crea dos filas de igual tamaño */
  gap: 10px; /* define el espacio entre las celdas de la cuadrícula */

  
  

}

/* Styles for screens up to 2560px wide */
@media screen and (max-width: 2560px) {
  .result-divstats {
    transform: scale(0.9);
  }
}

/* Styles for screens up to 1440px wide */
@media screen and (max-width: 1440px) {
  .result-divstats {
    transform: scale(0.8);
  }
}

/* Styles for screens up to 1024px wide */
@media screen and (max-width: 1024px) {
  .result-divstats {
    transform: scale(0.7);
  }
}

/* Styles for screens up to 768px wide */
@media screen and (max-width: 768px) {
  .result-divstats {
    transform: scale(0.6);
  }
}

/* Styles for screens up to 425px wide */
@media screen and (max-width: 425px) {
  .result-divstats {
    transform: scale(0.5);
  }
}

/* Styles for screens up to 375px wide */
@media screen and (max-width: 375px) {
  .result-divstats {
    transform: scale(0.4);
  }
}

/* Styles for screens up to 320px wide */
@media screen and (max-width: 320px) {
  .result-divstats {
    transform: scale(0.3);
  }
}










.result-container:hover {
  transform: scale(0.9);
  border-width: 2px;
}


#search-results {
  display: flex;
  flex-direction: column;
  gap: -1000px;
}

.result-container::before {
  content: "";
  position: absolute;
  top: 25%;
  left: -25%;
  height: 50rem; /* disminuir el valor de la altura */
  transform: rotate(-40deg);
  box-shadow: 0 0 30px 10px #ffffff50; /* aumentar la opacidad y disminuir la propagación y el difuminado */
  transition: .7s all;

}



.result-container:hover::before{
  top: -50%;
  left: 75%;
}



.result-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 1.5s;
  opacity: 0;
  z-index: 1;
  border-radius: 40px;
}

.result-container:hover::after {
  opacity: 1;
  background-color: #0000008c;
  z-index: -1;
  border-radius: 40px;
  border: 2.5px solid white;
  width: 101%;
  height: 100.9%;
  margin-left: -1.5px;
  margin-top: -1.5px;
}

.result-container:hover img {
  opacity: 0;
  position: absolute
} 

.result-container:hover .imgtipodiv {
  top: 50px;
}

.result-container h4, .result-container p {
  position: relative;
  z-index: 0;
  font-size: 30px !important;
  font-weight: bold;
  height: 75px;
  
}

.result-container p, .result-container .imgtipodiv {
  border: solid 3px;
  
  width: 150px;
}


.result-container:hover .result-divstats {
  margin-top: 100%;

}

.result-container h3, .result-container p, .result-container img, .result-container .imgtipo, .result-container .resultimg {
  transition: opacity 1s;
  opacity: 1;
}

.result-container:hover h3, .result-container:hover p, .result-container:hover a, .result-container:hover img,.result-container:hover .imgtipo, .result-container:hover .resultimg {
  opacity: 0;
}

.result-container h3 {
  font-size: 200% !important;
}

.result-model {
  margin-left: 12.5%;
  size: 100%;
}

.result-id {
  margin-left: 115%;
  position:sticky;
  top: -117.5%;

}

.result-price {
  margin-left: -92.5%;
  top: 175%;
}

.result-model,
.result-id,
.result-price {
  display: flex;
  align-items: center;
  justify-content: center;
}



.result-container h4 {

  transition: opacity 1.5s ease-in-out;
  transition-delay: 0.5s;
  opacity: 0;
  font-size: 0px;
  height: 0px;
  width: 0px;


}

.result-container:hover h4 {
  margin-top: -600px !important;
  opacity: 1;
  color: white;
  font-size: 12px;
  position: absolute;
  margin-top: -650px !important;
  margin-left: 5px;
  margin-right: 5px;
  text-align: justify;
  height: auto;
  width: auto;
  transition: opacity 1.5s ease-in-out;
  transition-delay: 1s;
}


.result-container h5-inferno {
  visibility: hidden;
  font-family: 'Exo';
}

.result-container h5-celestial {
  visibility: hidden;
  font-family: 'Exo';
}

.result-container h5-quantum {
  visibility: hidden;
  font-family: 'Exo';
}

.result-container h5-arcane {
  visibility: hidden;
  font-family: 'Exo';
}

.result-container h5-technomancer {
  visibility: hidden;
  font-family: 'Exo';
}

.result-container h5-titan {
  visibility: hidden;
  font-family: 'Exo';
}

.result-container:hover h5-inferno {
  position: relative;
  top: -60%;
  font-size: 50px;
  visibility: visible;
  color: rgba(0, 0, 0, 0);
}

.result-container:hover h5-celestial {
  position: relative;
  top: -60%;
  font-size: 50px;
  visibility: visible;
  color: rgba(0, 0, 0, 0);
}

.result-container:hover h5-quantum {
  position: relative;
  top: -60%;
  font-size: 50px;
  visibility: visible;
  color: rgba(0, 0, 0, 0);
}

.result-container:hover h5-arcane {
  position: relative;
  top: -60%;
  font-size: 50px;
  visibility: visible;
  color: rgba(0, 0, 0, 0);
}

.result-container:hover h5-technomancer {
  position: relative;
  top: -60%;
  font-size: 50px;
  visibility: visible;
  color: rgba(0, 0, 0, 0);
}

.result-container:hover h5-titan {
  position: relative;
  top: -60%;
  font-size: 50px;
  visibility: visible;
  color: rgba(0, 0, 0, 0);
}




.result-container:hover h5-inferno {
  color: rgb(211, 142, 100);
  text-shadow:
  0 0 5px #ff0000, /* color de las llamas o neón */
  0 0 10px #ff0000, /* color de las llamas o neón */
  0 0 15px #ff0000, /* color de las llamas o neón */
  0 0 20px #ff0000, /* color de las llamas o neón */
  0 0 30px #ff0000, /* color de las llamas o neón */
  0 0 40px #ff0000; /* color de las llamas o neón */
  opacity: 1;
}

.result-container:hover h5-celestial {
  color: rgb(116, 191, 206);
  text-shadow:
  0 0 5px rgba(116, 191, 206, 0.7),
  0 0 10px rgba(116, 191, 206, 0.7),
  0 0 15px rgba(116, 191, 206, 0.7),
  0 0 20px rgba(116, 191, 206, 0.7),
  0 0 30px rgba(116, 191, 206, 0.7),
  0 0 40px rgba(116, 191, 206, 0.7);
  opacity: 1;
}

.result-container:hover h5-quantum {
  color: rgb(113, 0, 212);
  text-shadow:
  0 0 5px rgba(113, 0, 212, 0.7),
  0 0 10px rgba(113, 0, 212, 0.7),
  0 0 15px rgba(113, 0, 212, 0.7),
  0 0 20px rgba(113, 0, 212, 0.7),
  0 0 30px rgba(113, 0, 212, 0.7),
  0 0 40px rgba(113, 0, 212, 0.7);
  opacity: 1;
}

.result-container:hover h5-arcane {
  color: rgb(165, 157, 0);
  text-shadow:
    0 0 5px rgba(165, 157, 0, 0.7),
    0 0 10px rgba(165, 157, 0, 0.7),
    0 0 15px rgba(165, 157, 0, 0.7),
    0 0 20px rgba(165, 157, 0, 0.7),
    0 0 30px rgba(165, 157, 0, 0.7),
    0 0 40px rgba(165, 157, 0, 0.7);
  opacity: 1;
}




.result-container:hover h5-technomancer {
  color: rgb(62, 238, 18);
  text-shadow:
    0 0 5px rgba(62, 238, 18, 0.7),
    0 0 10px rgba(62, 238, 18, 0.7),
    0 0 15px rgba(62, 238, 18, 0.7),
    0 0 20px rgba(62, 238, 18, 0.7),
    0 0 30px rgba(62, 238, 18, 0.7),
    0 0 40px rgba(62, 238, 18, 0.7);
  opacity: 1;
}


.result-container:hover h5-titan {
  color: rgb(97, 91, 82);
  text-shadow:
    0 0 5px #5f5b52,  /* color del brillo */
    0 0 10px #5f5b52, /* color del brillo */
    0 0 15px #5f5b52, /* color del brillo */
    0 0 20px #5f5b52, /* color del brillo */
    0 0 30px #5f5b52, /* color del brillo */
    0 0 40px #5f5b52; /* color del brillo */
  opacity: 1;
}


.result-container .imgtipodiv{
  scale: 0.5;
  margin-top: 132.5%;
  margin-left: 37.5%;
}

.result-container img{
 scale: 1.25;
 margin-top: 10%;
 transition: transform 0.3s;
}  

.resultdivboton {
  scale: 1.5;
  margin-left: 30%;

  z-index: 10;
}

.result-container .resultdivboton {
  transition: opacity 0s;
  opacity: 0;
  z-index: -2;
}

.result-container:hover .resultdivboton {
  transition: opacity 1.5s ease-in-out;
  transition-delay: 1.5s;
  opacity: 1;
  z-index: 10;
}

.result-container button{

  position: relative;
  display: none;



}

.result-container:hover button{
  display: initial;
  position: absolute;
  top: -75px !important;
}

.result-container p,
.result-container h3 {
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 20px;
  line-height: 0.002;
}

.result-container p {
  margin-top: -15px;
}

.result-container h3 {
  font-size: 30px;
  transition: all 0.3s ease-in-out !important;
  opacity: 1;
  position:sticky;
  top: 50%;

}

.result-container:hover h3 {
  opacity: 0 !important;
  color: rgba(0, 0, 0, 0.5);
  
}


.result-container .resultname {

}


.result-container:hover .resultname {


}













.slogan h1 {
  font-size: 48px;
  margin-bottom: 20px;
  text-shadow: 2px 2px #000;
}





.background {
  background-color: rgba(0, 0, 0, 0.6);
}

.slogan h1 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.slogan p {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

  .tituloleyenda {
    font-size: 0.9em;
  }

#cuadrobajobanner {
  margin-top: 10%;
  margin-left: 15.5%;
  z-index: 1;
  width: 95%;
  border: 1px solid black;
  padding: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;

}


@media only screen and (max-width: 1148px) {
  #cuadrobajobanner {
    margin-left: 15%;
    font-size: 0.80em;
    width: 85%;
  }
}

@media only screen and (max-width: 1024px) {
  #cuadrobajobanner {
    font-size: 0.70em;
    width: 76.5%;
    margin-left: 20%;
  }
}

@media only screen and (max-width: 812px) {
  #cuadrobajobanner {
    transform: scale(0.85); /* Usando transform para aplicar scale */
    margin-left: 25%;
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 612px) {
  #cuadrobajobanner {
    transform: scale(0.8); /* Aplicando un valor de scale más pequeño para pantallas aún más pequeñas */
  }
}

@media only screen and (max-width: 480px) {
  #cuadrobajobanner {
    transform: scale(0.75); /* Aplicando un valor de scale más pequeño para pantallas aún más pequeñas */

  }
}

@media only screen and (max-width: 428px) {
  #cuadrobajobanner {
    transform: scale(0.75); /* Aplicando un valor de scale más pequeño para pantallas aún más pequeñas */
    margin-right: 50%;
    margin-top: 20px;
  }
}

li {
  font-size:15px;
  background-color: rgb(255, 145, 0);
  color: white;
  border: solid 1px white;
  border-radius: 10px;
  text-align: center;
  height: 30px;
  width: 150px;
  position: relative;
  line-height: 175%;
}



#miembros {
  display: none;
}

ul {
  font-weight: bold;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  
}

.trainer div {
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 20px;
  line-height: 0.002;
}
.trainer img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s;
  animation: brillo 10s linear infinite;
}
.trainer {
  line-height: 99;
  border: 1px solid black;
  padding: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: all 0.20s ease-in-out;
  width: 105%;
}
.trainer:hover {
  transform: scale(1.1);
  border-width: 2px;
}
























/* only animate if the device supports hover */
@media (hover: hover) {
  #creditcard {
    /*  set start position */
    transform: translateY(110px);
    transition: transform 0.1s ease-in-out;
    /*  set transition for mouse enter & exit */
  }

  #money {
    /*  set start position */
    transform: translateY(180px);
    transition: transform 0.1s ease-in-out;
    /*  set transition for mouse enter & exit */
  }

  button:hover #creditcard {
    transform: translateY(0px);
    transition: transform 0.2s ease-in-out;
    /*  overide transition for mouse enter */
  }

  button:hover #money {
    transform: translateY(0px);
    transition: transform 0.3s ease-in-out;
    /*  overide transition for mouse enter */
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.25rem);
  }
  100% {
    transform: translateY(0);
  }
}

.button:hover .button__text span {
  transform: translateY(-0.25rem);
  transition: transform .2s ease-in-out;
}

/* styling */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");



.button {
  border: none;
  outline: none;
  background-color: purple;
  padding: 1rem 90px 1rem 2rem;
  position: relative;
  border-radius: 8px;
  letter-spacing: 0.7px;
  background-color: #5086bd;
  color: #fff;
  font-size: 21px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
  scale: 0.5;
}

.button:active {
  transform: translateY(1px);
}

.button__svg {
  position: absolute;
  overflow: visible;
  bottom: 6px;
  right: 0.2rem;
  height: 140%;
}

/*-----------------------------------------------boton cartera-----------------------------------------------------*/

.divboton {
  width: 250px;
  margin-left: -20%;
  margin-top: -30%;
}

.bicicleta:not(:hover) .divboton {
  transition: opacity 0s;
  opacity: 0;
  z-index: -2;
}

.bicicleta:hover .divboton {
  transition: opacity 1.5s ease-in-out;
  transition-delay: 1s;
  opacity: 1;
  z-index: 10;
}



/*--------------------------------------------------------------------------------------------------------------*/

.divstats {

  position: relative; /* Esto permitirá posicionar absolutamente los hijos */
  width: 100%; /* Esto permitirá que el div ocupe toda la anchura disponible */
  height: 85px;
  scale: 95%;
  font-weight: bold;
}

.bicicletamodel {
  color: white;

  border: 2px solid white;
  width: 50%;
  position: absolute; /* Establece la posición a absoluta */
  top: 0; /* Esto moverá el div a la esquina superior */
  left: 0; /* Esto moverá el div a la esquina izquierda */
  margin-left: 0%;
  scale: 85%;
}

.bicicletaPrice {
  color: white;

  border: 2px solid white;
  width: 50%;
  font-size: 17.5px !important;
  overflow: hidden;
  white-space: nowrap;
  text-indent: -12.5px;
  position: absolute; /* Establece la posición a absoluta */
  top: 0; /* Esto moverá el div a la esquina superior */
  right: 0; /* Esto moverá el div a la esquina derecha */
  margin-top: 0px !important;
  scale: 85%;
}

.idbici {
  color: white;

  border: 2px solid white;
  width: 50%;
  font-size: 17.5px !important;
  overflow: hidden;
  white-space: nowrap;
  text-indent: -12.5px;
  position: absolute; /* Establece la posición a absoluta */
  top: -84.5%; /* Esto moverá el div a la esquina superior */
  right: -70px; /* Esto moverá el div a la esquina derecha */
  scale: 85%;
}

.imgtipodiv {
  

  left: 75px;
  top: -32.5px;
  z-index: 120;
  position: absolute;
  overflow: visible;
  border: none !important;
}



.imgtipo {
  
  overflow: visible;
  transition: all 0.20s ease-in-out;
  scale: 0.2;
}

